body {
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer !important;
}

.radix-themes {
  --default-font-family: "__Poppins_c0d4f1", "__Poppins_Fallback_c0d4f1",
    system-ui;
}

.main-header {
}

#tsparticles {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}

@media screen and (max-width: 992px) {
  #team-grid {
    grid-template-columns: 320px;
  }
}

@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none;
  }

  #mobile-dropdown {
    display: flex !important;
  }

  .main-heading {
    font-size: 44px;
  }
}
